name: Continuous Delivery Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install --no-cache-dir -r requirements.txt

      - name: Lint
        run: python -m py_compile app.py model.py

      - name: Docker build
        run: docker build -t testml .

      - name: Docker test startup
        run: |
          docker run -d -p 8000:8000 testml
          sleep 5

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://testcicd-7d6e.onrender.com  # optional, shows environment link in GitHub

    # Manual approval before deploy
    steps:
      - name: Deploy to Render
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"
